# Ignore the node_modules
node_modules/

#yarn error log
yarn-error.log

.env

# ssl files
*.pem

# log files
*.log

# everything in uploads and converted directories
# except the placeholder files
uploads/
!uploads/x.txt
converted/
!converted/x.txt