@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

@import url('./AdminHome.css');

:root {
    --primary-color: #ad066a;
    --shade-primary-color: #f0e9ed;
    --shadow: 0 0 5px lightgrey;
    --button-shadow: 0 0 5px grey;
}

* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, a, button, input, label {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.2em;
}

#root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.card {
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 0.7em;
}

.input {
    margin: 0.75em;
    height: 2em;
    font-size: 1.3em;
    border: none;
    border-bottom: 2px solid var(--shade-primary-color);
    width: 95%;
}

.input:hover {
    border-radius: 5px;
    border: 2px solid var(--shade-primary-color);
}

.input:focus, .input:active {
    border-radius: 5px;
    outline: none;
    background-color: var(--shade-primary-color);
    border-bottom: var(--primary-color);
    transition: background-color 1s;
}

.button {
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: var(--button-shadow);
    background-color: var(--primary-color);
    background-position: center;
    transition: background 0.8s;
}

.button:active {
    background-color: #eb1a97;
    background-size: 100%;
    transition: background 0s;
}
 
header {
    grid-column: 1 / 13;
    border-bottom: 1px solid lightgrey;
}

header h1 {
    font-family: 'Reggae One', cursive;
    margin: .5em;
}

form {
    grid-column: 4 / 10;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: .3em;
}

form input[type='submit'] {
    height: 2.5em;
}

form h2 {
    text-align: center;
    margin-top: 1em;
}

.error {
    background-color: pink;
    color: red;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.admin-link {
    grid-column: 4 / 10;
    margin: 1em;
    height: 3em;
    text-align: center;
}


@media (max-width: 500px) {
    #root {
        grid-template-columns: repeat(6, 1fr);
    }

    header {
        grid-column: 1 / 7;
    }

    form {
        grid-column: 1 / 7;
        margin-left: .5em;
        margin-right: .5em;
    }

    .admin-link {
        grid-column: 1 / 7;
    }
}