#upload-form {
    grid-column: 5 / 10;
}

#edit-team {
    grid-column: 5 / 11;
    /* border: 1px solid black; */
}


@media (max-width: 500px) {
    #upload-form, #edit-team {
        grid-column: 1 / 7;
    }
}